body {
	margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #0a0a23;
    color: white;
    position: relative;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

canvas {
    width: 100%;
    height: 100%;
    cursor: crosshair;
    display: block;
}

.greeting{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    color: #ffc107;
}